  
.d3-tip {
line-height: 1;
font-weight: bold;
padding: 12px;
background: rgba(0, 0, 0, 0.8);
color: #fff;
border-radius: 2px;
}

.bar rect {
fill: steelblue;
shape-rendering: crispEdges;
}

.bar rect:hover{
 fill: rgba(0,0,0,.8);
}

.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

td, th {
padding: 1px 4px;
border: 1px solid black;
height: 40px;
    
}

/*.totalNum{
  position: static;
  width: 20px;
  height: 20px;
  margin-top:-70px;
  margin-left: 7px;
  border: 1px solid #cccccc;
}
*/
.totalGraph {
  position: static;
  width: 1000px;
  height: 20px;
  margin-top:-70px;
  margin-left: 10px;
  border: 0px solid #cccccc;
}

.userstable{
position: static;
width: 80px;
height:30px; 
margin-top: -575px;  
margin-left: 10px;
border:0px solid #CCCCCC;} 

.graphNode{position:static;
width: 80px;
height:30px; 
margin-top: 72px;
margin-left:450px;
border:0px solid #CCCCCC;}

.graphEdge{position:static;
width: 80px;
height:30px; 
margin-top: 500px;
margin-left:450px;
border:0px solid #CCCCCC;}



 
